/.metadata/
docs/migracao-angular.md

# Arquivos de documentação arquivados
docs/

# Node and build artifacts (global)
/node_modules/
/dist/
**/node_modules/
**/dist/


# IDEs
/.vscode/
.idea/
.DS_Store
